.bar-layout {
    display: block;
    width: 35em;
    text-align: center;
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 1em;
}
.bar-layout span {
    display: block;
}
.bar-layout .bar {
    position: relative;
    height: 1.5em;
    border: 1px solid #999;
    margin-top: 3px;
    background-color: #f7f7f7;
}
.bar-layout .bar > * {
    height: 1.5em;
    float: left;
}
.bar-layout .good-label {
    float: right;
}
.bar-layout .bad-label {
    float: left;
}
