body {
    font-family: 'Roboto', sans-serif; /* not actually gonna web-font it though */
    margin: 1rem;
    margin-top: 3rem;
    --body-bgc: #fffcf7;
    background-color: var(--body-bgc);
    --body-warning-hue: 51;
}
body.stale-data {
    background-image: repeating-linear-gradient(
            20deg,
            transparent,
            transparent 85px,
            hsl(var(--body-warning-hue), 100%, 90%) 85px,
            hsl(var(--body-warning-hue), 100%, 90%) 90px
    );
}
#navbar {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    margin: -3rem -1rem;
    padding: 0 0.5em 0 1em;
    background-color: #ddeef7;
    z-index: 99999;
    box-shadow: 0 0.5rem 0.5rem 0.25rem var(--body-bgc);
}
#navbar a,
#navbar a:visited {
    display: inline-block;
    margin-top: 0.3rem;
    padding: 0.3em 0.5em;
    text-decoration: none;
    color: #009;
}
#navbar a.active {
    background-color: var(--body-bgc);
    font-weight: bold;
    color: #000;
}
#navbar .updated-at {
    float: right;
    margin-top: 0.5rem;
    padding: 0.1em 0.25em;
    font-weight: normal;
    font-style: italic;
}
.stale-data #navbar .updated-at {
    background-color: hsl(var(--body-warning-hue), 100%, 68%);
}
button.trigger {
    float: right;
    border-style: solid;
    border-width: 1px;
    font-family: Consolas, monospace;
    font-size: 1.3rem;
    background-color: white;
    padding: 0.2em 0.7em;
    border-radius: 3px;
}
button.trigger:hover {
    background-color: #eeeef3;
}
#reset-to-defaults {
    float: left !important;
    font-size: 1rem;
    border-radius: 2px;
}
#show-sidebar {
    display: block;
    position: fixed;
    right: 1rem;
    top: 3rem;
}
#sidebar {
    display: none;
}
.sidebar #show-sidebar {
    display: none;
}
.sidebar #sidebar {
    display: block;
    position: fixed;
    right: 1rem;
    top: 3rem;
    width: 20em;
    z-index: 999;
    background-color: white;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-bottom-left-radius: 5px;
    padding: 1em;
    margin: -1rem;
    box-shadow: 0.5em 0.6em 1.5em 0.5em #ccc;
}
#sidebar .content {
    margin-top: 3em;
    overflow: auto;
    max-height: 80vh;
}
#sidebar section label {
    display: block;
    user-select: none;
    margin: 0.5em;
    margin-left: 2em;
}
#sidebar section label input {
    margin-left: -1.5em;
    margin-right: 0.5em;
}
#sidebar section label .desc {
    font-size: 90%;
    color: #666;
}
.alert {
    margin: 10px 0;
    padding: 10px;
    background-color: #ffd;
    border: 1px solid #990;
    border-radius: 0.3em;
    color: #330;
}