body {
    font-family: 'Roboto', sans-serif; /* not actually gonna web-font it though */
    margin: 1rem;
    margin-top: 3rem;
}
#navbar {
    position: fixed;
    width: 100%;
    margin: -3rem -1rem;
    padding: 0.3em 1em 0;
    background-color: #def;
    z-index: 99999;
    box-shadow: 0 0.5rem 0.5rem 0.25rem white;
}
#navbar span {
    display: inline-block;
    background-color: white;
    padding: 0.3em 0.5em;
    font-weight: bold;
}
#navbar a,
#navbar a:visited {
    padding: 0.3em 0.5em;
    text-decoration: none;
    color: #009;
}
h3 {
    border-top: 1px solid #ccc;
    padding-top: 0.5em;
}
.colset {
    display: flex;
}
.colset .col {
    margin: 0 1em;
}
.colset .col:first-child {
    margin-left: 0;
}
.colset .col:last-child {
    margin-right: 0;
}