body {
    font-family: 'Roboto', sans-serif; /* not actually gonna web-font it though */
    margin: 1em;
}
button.trigger {
    float: right;
    border-style: solid;
    border-width: 1px;
    font-family: Consolas, monospace;
    font-size: 1.3rem;
    background-color: inherit;
    padding: 0.2em 0.7em;
    border-radius: 3px;
}
button.trigger:hover {
    background-color: #eeeef3;
}
#reset-to-defaults {
    float: left !important;
    font-size: 1rem;
    border-radius: 2px;
}
#show-sidebar {
    float: right;
}
#sidebar {
    display: none;
}
.sidebar #show-sidebar {
    display: none;
}
.sidebar #sidebar {
    display: block;
    position: absolute;
    right: 1em;
    top: 1em;
    width: 20em;
    background-color: white;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-bottom-left-radius: 5px;
    padding: 1em;
    margin: -1em;
    box-shadow: 0.5em 0.6em 1.5em 0.5em #ccc;
}
#sidebar .content {
    margin-top: 3em;
}
#sidebar section label {
    display: block;
    user-select: none;
    margin: 0.5em;
    margin-left: 2em;
}
#sidebar section label input {
    margin-left: -1.5em;
    margin-right: 0.5em;
}
#sidebar section label .desc {
    font-size: 90%;
    color: #666;
}
table {
    border-collapse: collapse;
}
td {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-collapse: collapse;
    white-space: nowrap;
}
tbody tr:nth-child(even) {
    background-color: #f7f7f7;
}
th,
td {
    padding: 0.3em;
}
tbody td:first-child {
    color: #999;
}
th.new-point {
    border-left: 1px solid #999;
}
td.new-point {
    border-left: 1px solid #ccc;
}
thead th {
    text-align: left;
    vertical-align: bottom;
}
tfoot th {
    text-align: left;
    vertical-align: top;
}
th.sortable {
    cursor: pointer;
}
th.sorted,
th.sortable:hover {
    background-color: #f0f7ff;
    user-select: none;
}
tbody tr.hot {
    background-color: #f8f8c9;
}
tbody tr.hot-0 {
    background-color: #c9daf8;
}
tbody tr.hot-1 {
    background-color: #d9ead3;
}
tbody tr.hot-2 {
    background-color: #fce5cd;
}
.number,
.percent {
    text-align: right;
}
.percent:after {
    content: "%";
}

.delta-up-wow       { background-color: rgba(255,   0,   0, 0.64); }
.delta-up-lots      { background-color: rgba(255,   0,   0, 0.32); }
.delta-up-some      { background-color: rgba(255,   0,   0, 0.16); }
.delta-up-bit       { background-color: rgba(255,   0,   0, 0.08); }
.delta-up-smidge    { background-color: rgba(255,   0,   0, 0.02); }
.delta-down-smidge  { background-color: rgba( 43, 255,   0, 0.02); }
.delta-down-bit     { background-color: rgba( 43, 255,   0, 0.08); }
.delta-down-some    { background-color: rgba( 43, 255,   0, 0.16); }
.delta-down-lots    { background-color: rgba( 43, 255,   0, 0.32); }
.delta-down-zero    { background-color: rgba( 43, 255,   0, 0.64); }
